@import "tailwindcss";

@theme {
  --color-background: #05020E;
  --color-card: #171717;
  --color-tag: #232222;
  --color-filter-button: #09040F;
  --color-fab-purple: #6023E0;
  --color-nav-active: #A685EB;
  --color-nav-inactive: rgba(255, 255, 255, 0.9);
  --color-text-primary: rgba(255, 255, 255, 0.9);
  --color-text-secondary: rgba(255, 255, 255, 0.6);
  --color-text-tertiary: rgba(255, 255, 255, 0.55);
  --color-filter-icon: #9C9A9F;
  --blur-xs: 2px;
}

@layer base {
  body {
    @apply bg-background text-text-primary;
    font-family: var(--font-nohemi), sans-serif;
  }
}
